<div class="row">
    <h3 class="text-center">Add Tracked Task</h3>
    <EditForm Model="@trackedTask" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
        <DataAnnotationsValidator />

        <label>
            Task Name:
            <InputText type="text" class="form-control" DisplayName="Task Name" id="name" @bind-Value="trackedTask.Name" placeholder="Enter task name..." />
        </label>

        <label>
            Start Date:
            <InputDate class="form-control" DisplayName="Date" @bind-Value="trackedTask.StartDate" placeholder="Start Date..." />
        </label>

        <label>
            Duration:
            <InputText type="text" class="form-control" DisplayName="Duration" @bind-Value="@DurationProxy" />
        </label>

        <button type="submit" class="btn btn-primary">Submit</button>

        @if (displayValidationErrorMessages)
        {
            <div class="col-md-4" style="margin-top:10px">
                <label>Validation Messages: </label>
                <ValidationSummary />
            </div>
        }

    </EditForm>

    <p>
        @exceptionMessage
    </p>

</div>