<div class="row">
	<h3 class="text-center">Add Tracked Task</h3>
	<EditForm Model="@editContext" OnValidSubmit="@HandleValidSubmit">
		<DataAnnotationsValidator />
		<ValidationSummary />

		<label>
			Task Name:
			<InputText DisplayName="Task Name" id="name" @bind-Value="trackedTask.Name" />
		</label>

		<label>
			Start Date:
			<InputDate DisplayName="Date" @bind-Value="trackedTask.StartDate" />
		</label>

		<label>
			Duration:
			<InputText DisplayName="Duration" @bind-Value="@DurationProxy" />
		</label>

		<button type="submit">Submit</button>

	</EditForm>

	<p>
		@exceptionMessage
	</p>

</div>