@using Timinute.Client.Components.Landing

<div class="aurora-landing">
    <div class="aurora-landing__top-glow"></div>
    <div class="aurora-landing__inner">
        <LandingNav />
        <LandingHero />
        <LandingFeatures />
        <LandingOss />
        <LandingFooter />
    </div>
</div>
