<div class="container">
    <div class="row mb-3">
        <div class="jumbotron rounded-3" style="background-color: lightgrey">
            <h1 class="display-4">The free time tracker</h1>
            <p class="lead">Timinute is time tracking software a time tracker and timesheet app that lets you track work hours across projects.</p>
            <hr class="my-4">
            <p>Track your productivity and get overview about your time, how much time where and on what you spend.</p>
            <a class="btn btn-primary btn-lg mb-3" href="authentication/register" role="button">Register and start tracking</a>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card">
                <img src="img/Dashboard.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="img/Dashboard.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="img/Dashboard.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
    </div>
</div>


