<div class="container">
    <div class="row mb-3">
        <div class="jumbotron rounded-3">
            <h1 class="display-4">The free time tracker</h1>
            <p class="lead">Timinute is time tracking software a time tracker and timesheet app that lets you track work hours across projects.</p>
            <hr class="my-4">
            <p>Track your productivity and get overview about your time, how much time where and on what you spend.</p>
            <a class="btn btn-primary btn-lg mb-3" href="authentication/register" role="button">Register and start tracking</a>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card">
                <img src="img/DashboardLandingPage.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dashboard</h5>
                    <p class="card-text">This is a place where you can find reporting, track your progress, see how much time you spend per projects.</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="img/CalendarLandingPage.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Calendar</h5>
                    <p class="card-text">Schedule your work time, track your progress, with Calendar you can see your progress by month, week, day.</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="img/TrackedTasksTable.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tracked task table</h5>
                    <p class="card-text">This is a place where you can filter, review and examine your progress. It is up to you, in what are you interested.</p>
                </div>
            </div>
        </div>
    </div>
</div>


