@inherits LayoutComponentBase

<head>
    <RadzenTheme Theme="material" @rendermode="RenderMode.InteractiveAuto" />
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
</head>

<AuthorizeView>
    <Authorized>
        <div class="aurora-app">
            <NavMenu />
            <main class="aurora-main">
                <Topbar />
                <article class="aurora-content">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        @Body
    </NotAuthorized>
</AuthorizeView>

<RadzenDialog />
<RadzenNotification />
