@inherits LayoutComponentBase

<head>
    <RadzenTheme Theme="material" @rendermode="RenderMode.InteractiveAuto" />
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
</head>

<div class="aurora-app">
    <NavMenu />

    <main class="aurora-main">
        <AuthorizeView>
            <Authorized>
                <Topbar />
            </Authorized>
        </AuthorizeView>

        <article class="aurora-content">
            @Body
        </article>
    </main>

    <RadzenDialog />
    <RadzenNotification />
</div>
