@page "/projectmanager"
@attribute [Authorize]

<PageTitle>Manage Projects</PageTitle>

<h3>Manage Projects</h3>

<div class="container">

    <AddProject OnAddProject="@HandleProjectAdded" />

    <div class="row">
        <p>
            @ExceptionMessage
        </p>
    </div>

    <h3 class="p-3 text-center">Display a list of tracked tasks</h3>
    <table class="table table-table-striped table-bordered">
        <thead>
            <tr>
                <th>Project Id</th>
                <th>Name</th>
                <th>Company Id</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in ProjectsList)
            {
                <tr>
                    <td>@project.ProjectId</td>
                    <td>@project.Name</td>
                    <td>@project.CompanyId</td>
                    <td>
                        <button type="submit" class="btn btn-danger" @onclick="() => RemoveProject(project.ProjectId)">
                            <span class="oi oi-delete"></span> Remove
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>