@attribute [Authorize]

<h2>Dashboard</h2>

<h3>Claims</h3>
<table class="table table-sm">
    @foreach (var claim in User.Claims)
    {
        <tr>
            <td>@claim.Issuer</td>
            <td>@claim.ValueType</td>
            <td>@claim.Type</td>
            <td>@claim.Value</td>
        </tr>
    }
</table>
