<RadzenChart>
    <RadzenDonutSeries Data="@projectTime" CategoryProperty="ProjectName" ValueProperty="TimeInt">
        <TitleTemplate>
            <div class="rz-donut-content">
                <div>Time</div>
                <div>per project</div>
            </div>
        </TitleTemplate>
    </RadzenDonutSeries>
</RadzenChart>