@page "/"
@using Timinute.Client.Components.Dashboard

@inject NavigationManager Navigation

@if (User.Identity.IsAuthenticated)
{
    <PageTitle>Dashboard</PageTitle>
    <Dashboard />
}
else
{
    <PageTitle>Timinute</PageTitle>
@*    <h1>Hello, world!</h1>
    <p>Welcome to your new app.</p>
    <SurveyPrompt Title="How is Blazor working for you?" />*@
    <LandingPart/>
}

@code
{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    public System.Security.Claims.ClaimsPrincipal? User { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        User = authState.User;
    }
}