<div class="row">
    <EditForm Model="@editContext" OnSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <div class="mb-3 mt-3 row">
            <div class="col-auto">
                <label for="projectName" class="visually-hidden">What are you working on?</label>
                @if (!stopWatchRunning)
                {
                    <InputText type="text" class="form-control" id="projectName" @bind-Value="trackedTask.Name" placeholder="What are you working on?" />
                }
                else
                {
                    <InputText type="text" readonly class="form-control" id="projectName" @bind-Value="trackedTask.Name" placeholder="What are you working on?" />
                }
            </div>
            <div class="col-auto">
                <label for="project" class="visually-hidden">Select project</label>
                <InputSelect id="project" class="form-select" @bind-Value="ProjectId">
                     <option selected>None</option>
                    @foreach (var project in projects)
                    {
                        <option value="@project.ProjectId">@project.Name</option>
                    }
                </InputSelect>

            </div>
            <div class="col-auto">
                <label for="time" class="visually-hidden">Time</label>
                <InputText type="text" readonly class="form-control" id="time" @bind-Value="DurationProxy" placeholder="00:00:00" />
            </div>
            <div class="col-auto">
                @if (!stopWatchRunning)
                {
                    <button type="submit" class="btn btn-primary mb-3">Start</button>
                }
                else
                {
                    <button type="submit" class="btn btn-danger mb-3">Stop</button>
                }
            </div>
        </div>

        @if (displayValidationErrorMessages)
        {
            <div class="mb-3 mt-3 row">
                <ValidationSummary />
            </div>
        }
    </EditForm>

</div>
